{% extends "base.html" %}
{% block remtitle %} Change Password {% endblock %}
{% block content %}
<nav class="navbar navbar-expand-lg navbar-light bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Welcome {{ user.name }}</a>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <a class="navbar-brand" href="/{{user_type}}/dashboard">Home</a>
        <a class="navbar-brand" href="/{{user_type}}/search">Search</a>
        <a class="navbar-brand" href="/{{user_type}}/summary">Summary</a>
      </div>
      <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-link" href="/{{user_type}}/profile">Profile</a>
        </div>
        <div class="navbar-nav">
          <a class="nav-link" href="/logout">Logout</a>
        </div>
      </div>
    </div>
</nav>

<section class="vh-100 gradient-custom">
    <div class="container py-5 h-100">
        <div class="row justify-content-center align-items-center h-100">
            <div class="col-12 col-lg-9 col-xl-7">
                <div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
                    <div class="card-body p-4 p-md-5">
                        <h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Change Password</h3>
                        <form method="POST" action="/{{user_type}}/profile_action">

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                  <div data-mdb-input-init class="form-outline">
                                    <input type="password" id="password" name="old_password" class="form-control form-control-lg" required />
                                    <label class="form-label" for="password">Current Password</label>
                                  </div>
                                </div>
                            </div>

                            <div class="row">
                                <div class="col-md-6 mb-4">
                                  <div data-mdb-input-init class="form-outline">
                                    <input type="password" id="password" name="new_password" class="form-control form-control-lg" required />
                                    <label class="form-label" for="password">New Password</label>
                                  </div>
                                </div>
                            </div>
                            
                            <div class="row">
                                <div class="col-md-6 mb-4">
                                  <div data-mdb-input-init class="form-outline">
                                    <input type="password" id="password" name="confirm_new_password" class="form-control form-control-lg" required />
                                    <label class="form-label" for="password">Confirm New Password</label>
                                  </div>
                                </div>
                            </div>

                            <div class="terms">
                                <input type="checkbox" id="acceptTerms" onclick="toggleSubmit()">
                                <label for="acceptTerms">I accept to change my password</label>
                            </div>
                            <button type="submit" id="submitBtn" disabled name="action" value="password" class="btn btn-primary btn-lg">Change Password</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<script>
  function toggleSubmit() {
    const submitBtn = document.getElementById('submitBtn');
    submitBtn.disabled = !document.getElementById('acceptTerms').checked;
  }
</script>
{% endblock %}